/*전역 스타일 CSS*/

/*폰트*/
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/*padding과 border를 요소 크기에 포함하도록 설정*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard-Regular";
  font-size: var(--font-size-base);
  background-color: var(--background-color);
}
input::placeholder,
select:invalid {
  font-family: "Pretendard-Regular";
}

/*레이아웃 설정*/
html,
body,
#app,
#wrapper,
#body {
  height: 100%;
  min-width: var(--min-width);
}

#body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#body main {
  flex-grow: 1;
  /* max-width: 1400px; */
  padding: 2rem 1rem;
  padding-top: calc(2rem + 83px);
}

/*header*/
header {
  width: 100%;
  position: fixed;
  z-index: 99;
}

header .gnb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-bottom: 1px solid var(--primary-color);
  background-color: var(--background-color);
}

header .gnb > * {
  padding: 1rem;
}

header .gnb > nav > ul {
  display: flex;
}

header .gnb > nav > ul > li {
  padding: 1rem 1.5rem;
}

header .gnb > nav > ul > li > span {
  color: var(--neutral-dark);
}

header .gnb nav .menu-item {
  position: relative;
  min-width: fit-content;
}

header .gnb nav .submenu {
  position: absolute;
  /* display: none; */
  left: 0;
  top: 0;
  width: 100%;
  transform: translateY(0);
  transition: transform 0.3s;
  text-align: center;
  z-index: -1;
}

header .gnb nav .submenu > ul > li {
  padding: 0.2rem;
}
header .gnb .user-menu {
  position: relative;
}

header .gnb .user-menu svg {
  width: 34px;
  transition: fill 0.3s;
}

header .gnb .user-menu:hover svg {
  fill: var(--primary-color);
}

header .gnb .user-menu .toolbox {
  position: absolute;
  right: 0;
  width: 12rem;
  min-height: 5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  border: 1px solid var(--neutral-light);
  background-color: var(--background-color);
}

header .lnb {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: transform 0.3s;
  border-bottom: 1px solid var(--neutral-light);
  background-color: var(--background-color);
  z-index: -2;
}

header.open .gnb nav .submenu {
  display: block;
  transform: translateY(calc(100% + 2.25rem));
}
header.open .lnb {
  display: block;
  transform: translateY(0%) !important;
}

/*footer*/
footer {
  font-size: 0.975rem;
  padding: 0.64rem;
}

/*Field*/
.input-wrapper {
  width: 100%;
}

/*userAuth*/
.form {
  margin: 0px 45px;
}

.form .logo {
  text-align: center;
  position: relative;
}
.form .logo img {
  width: 153px;
}
.form .logo > p {
  position: absolute;
  bottom: 0;
  margin-bottom: 0.244em;
  color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  transform: translateX(0.4em);
  font-size: 0.95em;
}

.form .or {
  border-bottom: 3px solid rgb(212, 212, 212);
  text-align: center;
  margin-bottom: 1.5rem;
  transform: translateY(-1.5rem);
}
.form .or > div {
  width: 2.8em;
  height: 2.8em;
  border: 4px solid rgb(212, 212, 212);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  transform: translateY(1.4em);
  font-weight: bold;
  color: rgb(212, 212, 212);
}

.form .simple {
  width: 100%;
  margin: 10px 0;
  padding: 15px;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 20px;
  text-align: center;
}

.form .multi-input {
  display: flex;
  align-items: flex-end;
}

@media (max-width: 550px) {
  .form {
    margin: 0px 15px;
  }
}
@media (max-width: 480px) {
  .form {
    margin: 0px 5px;
  }
}
@media (max-width: 460px) {
  .form {
    margin: 0px 0px;
  }
}
