/*CSS 변수 정의*/
:root {
  /*기본 색상*/
  --primary-color: #56d0ff; /*UI 대표 색상, 버튼, 링크, 강조 텍스트, 배경 등에 사용*/
  --secondary-color: #d0f9ff; /*보조 색상, 보조 버튼, 경계선, 배경 강조 등에 사용*/
  --background-color: #fff;

  /*버튼 색상*/

  /*중립 색상*/
  --neutral-dark: #7f7f7f;
  --neutral-light: #d9d9d9;
  --neutral-blue: #ddf0f5;

  /*기타 색상*/
  --warning-color: #e74852;

  /*기타 스타일*/
  --font-size-base: 18px;

  /*Auth*/
  --diary-width: 976px;
  --diary-height: 665px;
}
